@use "lib/viewport";

.discourse-custom-ad-component {
  a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0.5em 0.85em 0.55em;
    gap: 1.35em;
    color: var(--primary-high);
    width: 100%;
    line-height: var(--line-height-medium);

    @include viewport.from(sm) {
      padding: 0.55em 0.85em 0.65em;
      gap: 0.5em;
    }

    .discourse-no-touch & {
      &:hover {
        .text-content {
          color: var(--tertiary);
          text-decoration: underline;
        }
      }
    }
  }

  &.--between-topics {
    a {
      justify-content: center;
    }
  }

  &.--between-posts {
    a {
      border-top: 1px solid var(--primary-low);
      max-width: calc(
        var(--topic-body-width) + var(--topic-body-width-padding) * 2 +
          var(--topic-avatar-width)
      );

      @include viewport.from(sm) {
        padding-left: calc(
          var(--topic-avatar-width) + var(--topic-body-width-padding) + 1px
        );
      }
    }
  }

  &.--last-post {
    a {
      padding-left: 0.15em;
    }
  }

  .disclosure {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-low);
    padding: 0.15em 0.25em;
    border-radius: 0.25em;
    font-size: var(--font-down-2);
  }
}
